body{
    margin: 0px;
    padding: 0px;
    background-image: url('bgi2.jpg');
    background-position: right 23%;
    background-repeat: no-repeat;
    font-family: Arial;
    overflow: hidden;
}
header{
    font-size: 14px;
    color: rgb(222, 245, 241);
    flex-direction: row;
    padding-left: 65px;
    padding-right: 65px;
}
nav{
    float: right;
    margin: 0px;
    position: relative;
    z-index: 1;
}
nav ul li {
    display: inline-block;
 }

nav ul li a {
    text-decoration: none;
    display: block;
  }
hr{
    margin-top: 50px;
    border-color: rgba(145, 177, 172, 0.897);
    border-width: 2px;
}
.bgoverlay {
    background-color: rgba(74, 78, 85, 0.959);
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
.title{
    color:rgb(222, 245, 241);
    text-align: center;
    margin-top: 150px;
    font-family: Arial, sans-serif;
    font-size: xx-large;
}